body {
    background-image: url("../images/foodiebackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    
}

.newGameButtonContainer {
    display: flex; 
    justify-content: center;
    
}